/*Variables*/
/* variables */
/*MAPA REDES*/
/*MAPA FONT_SIZE*/
/*Globales*/
/*imports*/
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&family=Square+Peg&display=swap");
/*normalize*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*globals*/
html {
  font-size: 62.5%;
  font-family: "Lobster", cursive;
  color: #0b0c0d; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #0b0c0d;
  display: inline-block; }

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  font-family: inherit;
  color: inherit; }

ol, ul {
  padding-left: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

img, svg {
  vertical-align: none; }

/*helpers*/
.flex-row {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0%; }

.navbar {
  padding: 0; }

/*BACKROUND DE TODAS LAS PAGINAS*/
.baguette {
  background-image: url("../Imagenes/baguette.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }

.breadtable {
  background-image: url("../Imagenes/breadtable.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }

.pancortado {
  background-image: url("../Imagenes/pancortado.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }

.panaderia2 {
  background-image: url("../Imagenes/panaderia2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }

.marmol {
  background-image: url("../Imagenes/marmol.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }

/*MIXIN HOVER TEXT PRODUCTOS */
/*Partials*/
/*HEADER*/
.navbar {
  flex-wrap: nowrap; }

.nav {
  flex-wrap: nowrap; }

.navbar-nav {
  display: flex;
  flex-direction: row; }

.navbar > .container {
  flex-wrap: wrap; }

.header_bakery {
  background: rgba(242, 237, 229, 0.5);
  min-height: 10rem;
  width: 100%;
  animation-name: animacion_header;
  animation-duration: 2s;
  animation-iteration-count: 1;
  z-index: 5;
  position: relative; }
  .header_bakery__menu {
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    width: 100%;
    padding: 0 3rem; }
  .header_bakery__logo a img {
    height: 80px; }
  .header_bakery__marca img {
    height: 20px;
    align-self: center; }
  .header_bakery__logo_marca {
    flex-basis: 30%; }
  .header_bakery__nav {
    justify-content: space-between;
    flex-basis: 80%;
    font-size: 2.7em;
    color: #0b0c0d;
    gap: 3rem;
    font-family: 'Lobster', cursive; }
    .header_bakery__nav__link a {
      text-decoration: none;
      transition: all 1s; }
      .header_bakery__nav__link a:hover {
        text-decoration: underline 2px black solid;
        transform: scale(1.5, 1.5);
        color: var(--secondari); }
  @media screen and (max-width: 900px) {
    .header_bakery__nav {
      font-size: 1.7em; }
    .header_bakery__menu {
      display: flex;
      justify-content: space-around !important; } }
  @media screen and (max-width: 390px) {
    .header_bakery__nav {
      gap: 2rem; } }

.navbar {
  flex-wrap: nowrap; }

.nav {
  flex-wrap: nowrap; }

.navbar-nav {
  display: flex;
  flex-direction: row; }

/*footer*/
.footer_bakery {
  background: rgba(242, 237, 229, 0.5);
  height: 10rem;
  align-content: space-between;
  width: 100%;
  z-index: 1; }
  .footer_bakery__nav {
    justify-content: space-between;
    line-height: 0%;
    height: 100%;
    align-items: center;
    padding: 3rem;
    gap: 3rem; }
    .footer_bakery__nav__redes {
      flex-basis: 40%;
      justify-content: space-between;
      height: 5VH;
      gap: 2rem; }
      .footer_bakery__nav__redes li a img {
        height: 5rem;
        line-height: 0%; }
    .footer_bakery__nav h3 {
      font-family: "Montserrat", cursive;
      color: black;
      font-size: 2.7em;
      flex-basis: 60%;
      align-self: center; }
    @media screen and (max-width: 607px) {
      .footer_bakery__nav h3 {
        text-align: center;
        font-size: 1.7em; } }
  @media screen and (max-width: 515px) {
    .footer_bakery__nav {
      flex-wrap: wrap-reverse;
      justify-content: center;
      line-height: 0%;
      height: 100%;
      align-items: center;
      padding: 1rem;
      gap: 1rem; } }

/*Views*/
/* contenido */
.principal_bakery {
  justify-content: center;
  align-items: center; }
  .principal_bakery .picture {
    background-color: rgba(242, 237, 229, 0.5);
    border-radius: 50%;
    height: 36rem;
    width: 36rem;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    z-index: 1; }
    .principal_bakery .picture .principal_bakery__img {
      position: absolute;
      z-index: -1; }
  @media screen and (max-width: 515px) {
    .principal_bakery .picture {
      height: 25rem;
      width: 25rem; }
      .principal_bakery .picture .principal_bakery__img {
        position: absolute;
        height: 130%;
        width: 130%; } }
  @media screen and (max-width: 770px) {
    .principal_bakery .principal_bakery {
      position: relative; } }

.slider {
  height: 100%;
  width: 100%;
  z-index: -1; }
  .slider__content {
    height: inherit;
    width: inherit;
    z-index: 1; }
    .slider__content .carousel-item {
      height: inherit;
      width: inherit; }
      .slider__content .carousel-item img {
        object-fit: cover;
        width: 100%;
        height: 100%; }

/* Principal About Us*/
.main_about_us, .about_us_responsive {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 2rem; }
  .main_about_us__text {
    width: 50%;
    background-color: rgba(242, 237, 229, 0.5);
    font-family: "Montserrat", cursive;
    font-size: 1.7em;
    justify-content: space-around;
    align-items: center;
    width: 50rem;
    height: 63rem;
    border-radius: 5px; }
    .main_about_us__text__texto_historia {
      padding: 2rem;
      gap: 3rem;
      width: 100%; }
    .main_about_us__text h2 {
      font-size: 3.5em;
      font-family: "Montserrat", cursive;
      font-weight: bolder;
      text-align: center; }
  .main_about_us__img {
    width: 50%;
    width: 50rem; }
    .main_about_us__img img {
      width: 100%;
      border: #0b0c0d solid 5px;
      border-radius: 5px; }

.about_us_responsive {
  visibility: hidden;
  position: absolute; }

@media screen and (max-width: 1040px) {
  .main_about_us, .about_us_responsive {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem; } }

@media screen and (max-width: 560px) {
  .main_about_us__img {
    width: 100%; }
  .main_about_us__text {
    font-size: 1.5em;
    width: 100%; }
    .main_about_us__text h2 {
      font-size: 2.7em; } }

/* Products */
.main_products__img {
  height: 79vh;
  display: grid;
  grid-template-areas: "pan cat tor" "pan conf conf";
  grid-template-columns: auto auto auto;
  grid-template-rows: 50%;
  gap: 2rem;
  padding: 2rem; }
  .main_products__img .h2-producto {
    font-size: 3.5em;
    background-color: rgba(242, 237, 229, 0.5);
    font-family: "Montserrat", cursive;
    position: absolute;
    align-self: flex-end;
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin-bottom: 1rem; }
  .main_products__img__panificados:hover .h2-producto, .main_products__img__catering:hover .h2-producto, .main_products__img__tortas:hover .h2-producto, .main_products__img__confiteria:hover .h2-producto {
    visibility: hidden; }
  .main_products__img__panificados:hover .hover-text, .main_products__img__catering:hover .hover-text, .main_products__img__tortas:hover .hover-text, .main_products__img__confiteria:hover .hover-text {
    opacity: 1;
    visibility: visible; }
  .main_products__img__panificados, .main_products__img__catering, .main_products__img__tortas, .main_products__img__confiteria {
    grid-area: pan;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center; }
    .main_products__img__panificados .hover-text, .main_products__img__catering .hover-text, .main_products__img__tortas .hover-text, .main_products__img__confiteria .hover-text {
      height: 100%;
      width: 100%;
      position: absolute;
      background: rgba(242, 237, 229, 0.5);
      transition: all 400ms ease-out;
      opacity: 0;
      visibility: hidden;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: large;
      text-align: left;
      align-items: center;
      font-family: "Montserrat", cursive;
      gap: 4rem; }
      .main_products__img__panificados .hover-text h2, .main_products__img__catering .hover-text h2, .main_products__img__tortas .hover-text h2, .main_products__img__confiteria .hover-text h2 {
        font-size: 1.7em; }
    .main_products__img__panificados img, .main_products__img__catering img, .main_products__img__tortas img, .main_products__img__confiteria img {
      transition: all 400ms ease-out;
      will-change: transform; }
  .main_products__img__catering {
    grid-area: cat; }
  .main_products__img__tortas {
    grid-area: tor; }
  .main_products__img__confiteria {
    grid-area: conf; }
  .main_products__img .grid_items {
    height: 100%;
    width: 100%;
    position: relative; }
    .main_products__img .grid_items img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 2rem; }

@media screen and (max-width: 800px) {
  .main_products__img {
    grid-template-areas: "pan cat " "tor conf";
    grid-template-columns: auto auto;
    grid-template-rows: 50% 50%; } }

@media screen and (max-width: 560px) {
  /*RESPONSIVE PRODUCTS*/
  .main_products__img {
    display: flex;
    flex-direction: column;
    height: fit-content; }
  .main_products__img .grid_items img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
    border-radius: 40px; }
  .hover-text {
    border-radius: 40px; } }

/*contact us*/
.main_contact_us {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: auto auto;
  align-content: space-evenly;
  gap: 10rem;
  padding: 2rem 2rem; }
  .main_contact_us h1 {
    justify-self: center;
    align-self: center;
    font-size: 5em;
    color: #F2EDE5;
    letter-spacing: 2px;
    font-family: "Montserrat", cursive; }
  .main_contact_us__section {
    justify-content: space-between;
    height: auto;
    gap: 5rem;
    flex-wrap: wrap;
    /* formulario*/ }
    .main_contact_us__section__redes {
      gap: 3rem;
      align-items: flex-start;
      padding-bottom: 4rem;
      /*HOVER REDES FONDO COLOR CONTACT US */ }
      .main_contact_us__section__redes img {
        height: 50px;
        filter: invert(88%) sepia(2%) saturate(925%) hue-rotate(341deg) brightness(111%) contrast(90%); }
      .main_contact_us__section__redes .red--instagram:hover {
        background: #ff7dd8;
        filter: none;
        border-radius: 50%; }
      .main_contact_us__section__redes .red--facebook:hover {
        background: #4fa8fb;
        filter: none;
        border-radius: 50%; }
      .main_contact_us__section__redes .red--whatsapp:hover {
        background: #009929;
        filter: none;
        border-radius: 50%; }
      .main_contact_us__section__redes .red--telegram:hover {
        background: #49a4f5;
        filter: none;
        border-radius: 50%; }
      .main_contact_us__section__redes a {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
        gap: 2rem;
        font-family: "Montserrat", cursive; }
      .main_contact_us__section__redes .items a h2 {
        font-size: 2.0em;
        color: #F2EDE5; }
    .main_contact_us__section__form {
      width: 25rem;
      gap: 1rem;
      justify-content: space-around; }
      .main_contact_us__section__form .informacion {
        width: 100%;
        font-weight: bold;
        border: none;
        outline: none;
        background: none;
        border-bottom: #F2EDE5 1px solid;
        height: 3rem; }
      .main_contact_us__section__form textarea {
        height: 12rem;
        width: 100%;
        font-weight: bold;
        background: none;
        border: none;
        border-bottom: #F2EDE5 1px solid; }
        .main_contact_us__section__form textarea::placeholder {
          color: rgba(242, 237, 229, 0.5);
          font-family: "Montserrat", cursive;
          font-size: 1.7em; }
      .main_contact_us__section__form .informacion::placeholder {
        color: rgba(242, 237, 229, 0.5);
        font-family: "Montserrat", cursive;
        font-size: 1.7em; }
      .main_contact_us__section__form .boton_send {
        background-color: rgba(242, 237, 229, 0.8);
        width: 10rem;
        align-self: center;
        font-family: "Montserrat", cursive;
        border-radius: 5px;
        height: 5rem;
        font-size: 1.7em;
        font-weight: bold; }

@media screen and (max-width: 700px) {
  /*contact us responsive*/
  .main_contact_us {
    justify-content: center; }
    .main_contact_us__section {
      width: min-content; } }

/* FIND US*/
.find_us_main {
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 5rem;
  height: 100%; }
  .find_us_main .find_us__frame {
    width: 50rem;
    height: 50rem; }
    .find_us_main .find_us__frame .iframe {
      width: 100%;
      height: 100%;
      border-radius: 1rem; }
  .find_us_main .find_us__info {
    font-size: 2.7em;
    font-family: "Montserrat", cursive;
    gap: 4rem;
    text-align: center; }
    .find_us_main .find_us__info h3 {
      font-size: 1.7em; }
    .find_us_main .find_us__info .etiqueta_1, .find_us_main .find_us__info .etiqueta_2 {
      background-color: rgba(242, 237, 229, 0.5);
      border-radius: 1rem;
      height: auto;
      width: auto; }

@media screen and (max-width: 900px) {
  .find_us_main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem; }
    .find_us_main .find_us__frame {
      width: 80%;
      height: 35rem; } }
