/*footer*/

.footer_bakery {
    background: rgba(242, 237, 229, 0.5);
    height: 10rem;
    align-content: space-between;
    width: 100%;

    &__nav {

        justify-content: space-between;
        line-height: 0%;
        height: 100%;
        align-items: center;
        padding: 3rem;
        gap: 3rem;

        &__redes {
            flex-basis: 40%;
            justify-content: space-between;
            height: 5VH;
            gap: 2rem;

            & li a {


                & img {
                    height: 5rem;
                    line-height: 0%;
                }

            }
        }

        & h3 {
            font-family: $font-secondary;
            color: black;
            font-size: map-get($font-size, large);
            flex-basis: 60%;
            align-self: center;

        }

        @media screen and (max-width:607px) {

            h3 {
                text-align: center;
                font-size: map-get($font-size, medium);

            }
        }




    }

    @media screen and (max-width:515px) {
        &__nav {
            flex-wrap: wrap-reverse;
            justify-content: center;
            line-height: 0%;
            height: 100%;
            align-items: center;
            padding: 1rem;
            gap: 1rem;
        }

    }




}
