
/* Principal About Us*/

.main_about_us {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;


    &__text {
        width: 50%;
        background-color: rgba(242, 237, 229, 0.5);
        font-family: $font-secondary;
        font-size: map-get($font-size ,medium);
        justify-content: space-around;
        align-items: center;
        width: 50rem;
        height: 63rem;
        border-radius: 5px;

        &__texto_historia {
            padding: 2rem;
            gap: 3rem;
            width: 100%;
        }
        & h2 {
            font-size:map-get($font-size, x-large );
            font-family: $font-secondary;
            font-weight: bolder ;
            text-align: center;
            
        }
    }
    
    &__img {
        width: 50%;
        width: 50rem;

        & img {
            width: 100%;
            border: #0b0c0d solid 5px;
            border-radius: 5px;
        
        }
    }

    
}

.about_us_responsive{
    @extend .main_about_us;
    visibility: hidden;
    position: absolute;
}








