/*contact us*/


.main_contact_us {
    display: grid;
    height: 100%;
    width: 100%;
    align-self: center;
    grid-template-rows: auto auto;
    align-content: center;
    gap: 10rem;

    & h1 {
        justify-self: center;
        align-self: center;
        font-size: 5.0em;
        color: $principal;
        letter-spacing: 2px;

        font-family: $font-secondary;
    }

    &__section {
        justify-content: space-between;
        height: auto;

        &__redes {
            gap: 3rem;
            align-items: flex-start;

            & img {
                height: 50px;
                filter: invert(88%) sepia(2%) saturate(925%) hue-rotate(341deg) brightness(111%) contrast(90%);
            }

            /*HOVER REDES FONDO COLOR CONTACT US */
            @each $red,
            $color in $redes {
                .red--#{$red}:hover {
                    background: $color;
                    filter: none;
                    border-radius: 50%;
                }
            }


            & a {
                flex-direction: row-reverse;
                align-items: center;
                justify-content: flex-end;
                gap: 2rem;
                font-family: $font-secondary;
            }

            .items a h2 {
                font-size: 2.0em;
                color: $principal;
            }

        }

        /* formulario*/
        &__form {

            width: fit-content;
            gap: 1rem;
            justify-content: space-around;

            .informacion {

                width: 31rem;
                font-weight: bold;
                border: none;
                outline: none;
                background: none;
                border-bottom: #F2EDE5 1px solid;
            }

            textarea {
                height: 12rem;
                width: 31rem;
                font-weight: bold;
                background: none;
                border: none;
                border-bottom: #F2EDE5 1px solid;

                &::placeholder {
                    color: rgba(242, 237, 229, 0.5);
                    font-family: $font-secondary;
                    font-size: map-get($font-size, medium);
                }


            }

            .informacion::placeholder {
                color: rgba(242, 237, 229, 0.5);
                font-family: $font-secondary;
                font-size: map-get($font-size, medium);
            }

            .boton_send {
                background-color: rgba(242, 237, 229, 0.8);
                width: 10rem;
                align-self: center;
                font-family: $font-secondary;
                border-radius: 5px;
                height: 5rem;
                font-size: map-get($font-size, medium);
                font-weight: bold;
            }


        }


    }






}