
/* FIND US*/
.find_us_main{
    align-items: center;
    justify-content: center;
    gap:2rem;
    padding: 2rem 5rem;
    height: 100% ;
   

    .find_us__frame{
        
        width: 50rem;
        height: 50rem;

        .iframe{
            width: 100%;
            height: 100%;
            border-radius: 1rem;
        
        }
        
    }

    .find_us__info{
        
        font-size: map-get($font-size, large);
        font-family: $font-secondary;
        gap:4rem;
        text-align: center;

        & h3 {
            font-size: map-get($font-size, medium );
        }
       
        .etiqueta_1,.etiqueta_2{
            background-color: rgba(242, 237, 229, 0.5) ;
            border-radius: 1rem;
            height: auto;
            width: auto;
        }
    
    }


}
@media screen and (max-width:900px){
    .find_us_main{
        display: flex;
        flex-direction:row ;
        flex-wrap: wrap;
        padding: 2rem;
        
        .find_us__frame{
            width: 80%;
            height: 35rem;
        }
    }
        
        
}

