
/* FIND US*/

.backround_find_us {
    background-image: url(../Imagenes/pancortado.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}



.info_ubicacion {
    font-size: 2em;

    & h2 {
        font-size: 3.5em;
    
    
    }

}

