/* BACKROUND INDEX*/
.index {
    background-image: url(../Imagenes/panaderia2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;


}

/* contenido */
.principal_bakery {
    justify-content: center;
    align-items: center;
  

  
  
    
}



