/* Products */


.main_products__img  {
    height: 79vh;
    display: grid;
    grid-template-areas:
        "pan cat tor"
        "pan conf conf";
    grid-template-columns: auto auto auto;
    grid-template-rows: 50%;
    gap: 2rem;
    padding: 2rem;
    


    .h2-producto {
        font-size: map-get($font-size, x-large);
        background-color: rgba(242, 237, 229, 0.5);
        font-family: $font-secondary;
        position: absolute;
        align-self: flex-end;
        padding: 1rem 2rem;
        border-radius:1rem;
        margin-bottom: 1rem;
        

    }

    &__panificados:hover{
        .h2-producto{
            visibility: hidden;
        }
    }
    &__panificados {
        grid-area: pan;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        display: flex;
        justify-content: center;
        .hover-text {
            @include hover-text;
            font-family: $font-secondary;
            gap: 4rem;


            h2 {
                font-size: map-get($font-size, medium);
            }

        }



        &:hover>.hover-text {
            opacity: 1;
            visibility: visible;
            
        }

        img {
            transition: all 400ms ease-out;
            will-change: transform;
        }




    }

    &__catering {
        @extend .main_products__img__panificados;

        grid-area: cat;

    }

    &__tortas {
        grid-area: tor;
        @extend .main_products__img__panificados;
    }

    &__confiteria {
        grid-area: conf;
        @extend .main_products__img__panificados;
    }

    .grid_items {
        height: 100%;
        width: 100%;
        position: relative;



        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;


        }


    }
}

@media screen and (max-width:800px) {

    .main_products__img {

        grid-template-areas:
            "pan cat "
            "tor conf";
        grid-template-columns: auto auto;
        grid-template-rows: 50% 50%;
    }
}