/* Products */


.main_products__img {
    height: 85vh;
    display: grid;
    grid-template-areas:
        "pan cat tor"
        "pan conf conf";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    gap: 20px;
    padding: 20px 0 40px 0;
    position: relative;

    .h2-producto{
        font-size: 4.0em;
        -webkit-text-fill-color: #F2EDE5;
        -webkit-text-stroke: 1px;
        -webkit-text-stroke-color: rgba(11, 12, 13, 0.5);
        line-height: 0px;
        position: absolute;
        bottom: 40px;
        left: 20px;

    }


    &__panificados {
        grid-area: pan;
        position: relative;
        cursor: pointer;
        overflow: hidden;

        .hover-text{
        @include hover-text;
        
}

        img {
            transition: all 400ms ease-out;
            will-change: transform;
        }
        
 
        
        &:hover>.hover-text {
            opacity: 1;
            visibility: visible;
        }
    



    }

    &__catering {
        @extend .main_products__img__panificados;
        
        grid-area: cat;
        
    }

    &__tortas {
        grid-area: tor;
        @extend .main_products__img__panificados;
    }

    &__confiteria {
        grid-area: conf;
        @extend .main_products__img__panificados;
    }

    .grid_items {
        height: 100%;
        width: 100%;
        position: relative;



        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;


        }
       

    }
}