/*helpers*/

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0%;

}
.navbar{
    padding: 0;
}
/*BACKROUND DE TODAS LAS PAGINAS*/
@each $bg-image in baguette,
breadtable,
pancortado,
panaderia2,
marmol {
    .#{$bg-image} {
        background-image:url("../Imagenes/#{$bg-image}.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
}



/*MIXIN HOVER TEXT PRODUCTOS */
@mixin hover-text($color:rgba(242, 237, 229, 0.8), $h:100%, $w:100%) {
    
    height: $h;
    width: $w;
    position: absolute;
    background: $color;
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: large;
    text-align: left;
    align-items: center;
    
    




}