@media screen and (max-width: 560px) {
    /*RESPONSIVE PRODUCTS*/
    .main_products__img {
        display: flex;
        flex-direction: column;
        height: fit-content;
        
    }


    .main_products__img .grid_items img {
        height: 25rem;
        width: 100%;
        object-fit: cover;
        border-radius: 40px;
        padding: 0 1rem;
    }


    /*About US responsive*/


    .main_about_us__img {

        width: 100%;
    }

    .main_about_us__text {
        font-size: 1.5em;
        width: 100%;
    }
}

@media screen and (max-width: 1040px) {

    .main_about_us {


        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 2rem;
    }

}

            

    
        