@media screen and (max-width: 560px) {

    .principal_bakery {
        justify-content: center;
        align-items: center;
        width: 100%;
      }
      

    /*contacr us responsive*/


    .main_contact_us__section {

        flex-wrap: wrap;
        justify-content: space-around;
        padding: 2rem;
        gap: 10rem;

    }

    .main_contact_us__section__redes {
        flex-grow: 1;
        flex-wrap: wrap;
        align-content: center;

    }

    .main_contact_us__section__form {
        flex-grow: 1;
        order: -1;
        align-items: center;

    }



    .main_contact_us {
        gap: 0
    }



    /*RESPONSIVE PRODUCTS*/
    .main_products__img {
        display: flex;
        flex-direction: column;
        height: fit-content;
        
    }


    .main_products__img .grid_items img {
        height: 25rem;
        width: 100%;
        object-fit: cover;
        border-radius: 40px;
        padding: 0 1rem;
    }


    /*About US responsive*/


    .main_about_us__img {

        width: 100%;
    }

    .main_about_us__text {
        font-size: 1.5em;
        width: 100%;
    }
}

@media screen and (max-width: 1040px) {

    .main_about_us {


        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 2rem;
    }

}
@media screen and (max-width: 650px){
    .find_us__frame iframe {
     width: 100%;

    }
    .find_us_main{
        flex-direction: column;
    }
}

            

    
        