/* variables */
$principal: #F2EDE5;
$secondari: #0b0c0d;
$font-primary: 'Lobster', cursive;
$font-secondary: 'Montserrat', cursive;

/*MAPA REDES*/
$redes:(instagram: #ff7dd8,
    facebook: #4fa8fb,
    whatsapp: #009929,
    telegram: #49a4f5);


/*MAPA FONT_SIZE*/

$font-size:(
    small: 1.2em,
    medium: 1.7em,
    large: 2.7em,
    x-large: 3.5em,
    xxl:5em,


);
